# gitignore for assns 
# reference https://alvinalexander.com/source-code/scala/sample-gitignore-file-scala-sbt-intellij-eclipse/

# bloop and metals
.bloop
.bsp

# metals
project/metals.sbt
.metals

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# eclipse
build/
.classpath
.project
.settings
.worksheet
bin/
tmp/

# mac
.DS_Store

# sbt
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache

#scala
*.class

# other?
.history
.scala_dependencies
.cache-main
.lib/
lib/
